:root {
  --light-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  background-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.header {
  background-color: var(--light-color);
}

.logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  text-decoration: none;
}
.logo-second {
  color: black;
}

.ad {
  background: #2f303a;
}

.link {
  font-weight: 500;
  color: #212121;
  text-decoration: none;
}

.link:hover {
  color: #2196f3;
}

.contact-links {
  font-weight: 500;
  color: #757575;
  text-decoration: none;
}

.contact-links:hover {
  color: #2196f3;
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  color: var(--light-color);
}

.button {
  font-weight: 600;
  font-size: 16px;
  color: var(--light-color);
  background-color: #2196f3;
  border: none;
}

.service-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;
}

.about-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
}

.person-name {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
.person-position {
  font-size: 16px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  text-decoration: none;
  background-color: #2f303a;
}

.logo-footer-second {
  color: var(--light-color);
  background-color: #2f303a;
}

.address {
  font-style: normal;
  color: var(--light-color);
}
.footer-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.background {
  background-color: var(--light-color);
}
.footer {
  background-color: #2f303a;
}

.team-background {
  background-color: var(--light-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
}
