.navigation {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
}

.ad {
  font-style: normal;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.15;
}

.contacts {
  font-style: normal;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.15;
}
